@use "./variables.module.scss" as vars;

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

:root {
  --bg-light: #f0eee1;
  --bg: #e7e4ce;
  --shadow: #d6d1ac;
  --shadow2: #c5be8a;
  --idrott: #e18727;
  --idrott-dark: #c36603;
  --foretag: #00aacf;
  --foretag-dark: #089cbd;
  --shop: #ed0c6e;
  --superfriend: #73d687;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: vars.$bg;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
  /* Disable text selection */
  overflow-x: hidden;
}

.container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

// NOTE: Disables the scrollbar for the whole app
*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.toolbar {
  background-color: vars.$bg-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  z-index: 2;

  position: fixed;

  width: 100vw;

  min-height: 60px;
  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
  // align-items: center;

  pointer-events: none;
}

.toolbar-btn {
  // flex-basis: 10%;
  width: 50px;
  height: 50px;

  margin: 5px;
  border-radius: 10px;

  color: vars.$bg;
  /* background-color: var(--orange); */

  pointer-events: all;
}

.toolbar-btn-menu {
  display: block;
  @include for-tablet-portrait-up {
    display: none;
  }
}

.spacer {
  flex-grow: 1;
}

/*  */

.swiper-wrapper {
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.swiper {
  width: 80%;
  height: 90%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  /* color: #fff; */
  background-color: vars.$bg; /* #222; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pageNav {
  flex-basis: 100%;

  pointer-events: all;
  height: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: vars.$bg;

  @include for-tablet-portrait-up {
    display: none;
  }

  a {
    color: vars.$bg;
    padding-left: 10px;
    font-size: large;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
}

.pageNav2 {
  display: none;
  
  @include for-tablet-portrait-up {
    pointer-events: all;
    height: 100%;
  
    // display: flex;

    padding-bottom: 12px;

    flex-direction: row;
    align-items: center;
  
    display: flex;
  }
  
  
  a {
    // background-color: vars.$bg;
    border-radius: 5px;
    padding: 2px;
    margin-left: 10px;
    font-size: large;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
}
