* {
  /* outline: 1px solid red; */
}

:root {
  --bg: #E7E4CE;
  --shadow: #d6d1ac;
  --shadow2: #C5BE8A;
  --idrott: #E18727;
  --foretag: #00AACF;
  --shop: #ED0C6E;
  --superfriend: #ED0C6E;
}

html,
body {
  background-color: var(--bg);
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* font-family: -apple-system, Helvetica, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none; /* Disable text selection */
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  pointer-events:none;
}

.toolbar {
  z-index: 1;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  height: 60px;
  
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
  align-items: center;

  pointer-events:none;
}

.toolbar-btn {
  width: 50px;
  height: 50px;

  margin: 5px;
  border-radius: 10px;

  color: var(--bg);
  /* background-color: var(--orange); */

  pointer-events: all;
}

.spacer {
  flex-grow: 1;
}