* {
  /* outline: 1px solid red; */
  overflow: hidden;
}

:root {
  --bg: #E7E4CE;
  --shadow: #d6d1ac;
  --shadow2: #C5BE8A;
  --orange: #E18727;
  --blue: #00AACF;
  --cyan: #ED0C6E;
}

html,
body {
  background-color: var(--bg);
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}