@use './variables.module.scss' as vars;

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: stretch;

  overflow: hidden;
}

.centerSection {
  flex-basis: 50%;
  height: 100vh;
}