.shopButton {
    background-color: var(--shop);
  
    width: 50%;

    align-self: flex-end;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
  
    cursor: pointer;

    box-shadow: 0px 0px 30px var(--shadow2);
    /* clip-path: inset(Tpx Rpx Bpx Lpx);  */
    clip-path: inset(-30px 0px 0px 0px);
    
    pointer-events: all;
  }
  
  .img {
    margin: 10px;
    color: var(--bg);
    width: 6%;
    cursor: inherit;
  }

  .shopButton h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #E7E4CE;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .shopButton span {
    color: #E7E4CE;
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
    max-width: 50%;
    padding-bottom: 10px;
  }