$bg-light: #f0eee1;
$bg: #E7E4CE;
$shadow: #d6d1ac;
$shadow2: #C5BE8A;
$idrott: #E18727;
$idrott2: #FCF6EF;
$foretag: #00AACF;
$foretag2: #B2E5F0;
$shop: #ED0C6E;
$shop2: #F8F0F4;
$superfriend: #73d687;

:export {
    bg-light: $bg-light;
    bg: $bg;
    shadow: $shadow;
    shadow2: $shadow2;
    idrott: $idrott;
    foretag: $foretag;
    shop: $shop;
    superfriend: $superfriend;
}