$bg: #E7E4CE;
$shadow: #d6d1ac;
$shadow2: #C5BE8A;
$idrott: #E18727;
$foretag: #00AACF;
$shop: #ED0C6E;
$superfriend: #73d687;

:export {
    bg: $bg;
    shadow: $shadow;
    shadow2: $shadow2;
    idrott: $idrott;
    foretag: $foretag;
    shop: $shop;
    superfriend: $superfriend;
}