.container {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100vw;
    min-height: 100vh;
    max-height: 300vh;
    /* background-image: url("/foretag-wave-short-2.svg"); */
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.row {
    display: flex;
    flex-direction: row;

    /* background-color: var(--foretag); */
    padding: 5px;
    border-radius: 5px;

    justify-content: center;

    width: 100%;

    /* color: var(--bg); */
}

.break {
    /* flex-basis: 100%; */
    width: 100%;
    height: 2px;
    background-color: var(--shadow);
    margin-top: 20px;
    margin-bottom: 20px;
}

.left {
    margin-top: -65px;
    min-height: 110vh;
    flex-basis: 10%;
    min-width: 75px;
    max-width: 150px;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    color: var(--bg);
    background-color: var(--foretag);
}

.right {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    
    /* text-align: center; */
    
    padding-left: 50px;
    padding-right: 150px;
}

.right img {
    margin-right: 30px;
    border-radius: 5px;
}

.right * {
    max-width: 1000px;
    /* margin-top: 30px; */
}

.button {
    margin-top: 30px;
    background-color: var(--foretag);
    border-radius: 15px;
    flex-basis: 90%;
    height: 60px;
    color: var(--bg);
}

.card {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    margin: 5px;
    border-radius: 5px;
    padding: 15px;
}

.card img {
    width: 40%;
    align-self: center;
    margin-right: 0px;
}

/* REFERENCES */

.ref_card {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}
.ref_card_img_section {
    flex-basis: 40%;
    overflow: hidden;
}
.ref_card_img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.ref_card_text_section {
    flex-basis: 60%;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.ref_card_text_title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.2rem;
}
.ref_card_text_description {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}